#divSecurityWarning{padding-bottom:10px;}
#divSecurityWarning2{padding:10px;}
/** Global navigation */
#teamplace-globalNavigation-ul{height:22px;}
#teamplace-globalNavigation-ul .ms-cui-tt{height:22px;}
#teamplace-globalNavigation-ul .ms-cui-tt-a{background:none !important;border:none !important;color:white;cursor:pointer;margin-top:0px;width:auto;}
#teamplace-globalNavigation-ul .ms-cui-tt-a .ms-cui-tt-span{padding:4px 10px;}
